<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BTMainFile</key>
	<string>index.html</string>
	<key>BTWindowWidth</key>
	<integer>319</integer>
	<key>BTWindowHeight</key>
	<integer>52</integer>
	<key>BTThemeName</key>
	<string>Jet LP case - CJ</string>
	<key>BTThemeIdentifier</key>
	<string>com.CJ.CJjetlpcasetextandprogbar</string>
	<key>BTThemeArtist</key>
	<string>CJ</string>
	<key>BTThemePreviewImage</key>
	<string>preview.png</string>
	<key>BTWindowMode</key>
	<string>desktop</string>
	<key>BTTrackFunction</key>
	<string>trackUpdate</string>
	<key>BTArtworkFunction</key>
	<string>artworkUpdate</string>
	<key>BTStatusFunction</key>
	<string>playerUpdate</string>
</dict>
</plist>
